<!-- this ages shows the current hero-->
{{#partial "content"}}
    <section class="laz">

        <h2> <a class="btns" href="/hero-form" >Create Your Hero</a> <br><br> CREATED HEROES</h2>
        <div class="hhy">
            {{#each hero}}
                <div class="hero-item">

                    <p>Name: {{ name }} </p>
                    <p>Age: {{ age }}</p>
                    <p>Special power: {{ power }}</p>
                    <p>Weakness: {{ weakness }}</p>
                    <p>Id: {{id }}</p>
                    <a href="/squad" class="btns">Add {{ name }} To Squad</a>
                  <br> <a class="btn" href="/">Back on Home</a>
                </div>

            {{/each}}
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}
