<!--showing current squad created-->

{{#partial "content"}}<div class="squad">
            <div id="newMember">
                {{#if squads}}
                   <h2> CREATED SQUADS
                    </h2>
                    {{#each squads}}
                        <div class="squad-cont">

                            <div>
                                <p>{{ squadName }} </p>

                                <p>Id: {{squadId}}</p>
                                <p>Purpose: {{reasons}}</p>
                                <p>Max participants: {{ size }}</p>
                                <br><br>

                                {{#each squadMembers}}
                                    <div class="member-cont">
                                        <h5>Name: {{this.name}}</h5>
                                        <h5>Power: {{power}}</h5>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <h2>Please create a squad to continue</h2>
                {{/if}}
            </div>

            </div>

        <h2>
            <a class="btns" href="/squad-form">Create Your Squad</a>
            <br><br></h2>


{{/partial}}

{{> layout.hbs}}